* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.hero {
    background-color: #1F2937;
    
}

.hero a , .hero p {
    color: lightgrey;
    text-decoration: none;
}

.hero button {
    background-color: #3882f6;
    color: #f9faf8;
}

.image-placeholder {
    background-color: lightgrey;
}

.information h2 , p {
    color: #1F2937;
}

.information h2 {
    font-size: 36px;
    font-weight: bolder;
}

.info-icon {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 3px solid #3882f6;
}
